<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% block links %}
    {% endblock %}
    <!-- Подключение шрифта FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Подключение CSS-файла Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    {% block styles %}
    {% endblock %}
    <!-- Fonts -->
    <style>
    .russo-one {
        font-family: 'Russo One', sans-serif;
    }
    .source-sans-pro {
        font-family: 'Source Sans Pro', sans-serif;
    }
    .form-control.search-form {
        border-radius: 10px 0px 0px 10px;
        border-right: 0px !important;
        border: 0.5px solid pink;
    }
    .form-control:focus {
        border: 0.5px solid pink;
        box-shadow: 0 0 0px;
    }
    .search-color {
        border-radius: 0px 10px 10px 0px;
        border: 0.5px solid pink;
        border-left: 0px;
        background-color: pink;
    }

    .search-color i {
        color: white;
    }

    .search-color:hover {
        border: 0.5px solid pink;
        border-left: 0px;
        background-color: white;
    }

    .search-color:hover i {
        color: pink;
    }

    .search-color:active{
        border: 0.5px solid pink !important;
        border-left: 0px !important;
    }

    .my-text {
        text-decoration: underline;
        text-decoration-color: pink;
        font-size: 24px;
    }

    .footer-color {
        background-color: #d3d3d330;
    }

    </style>


</head>
<body>


<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="my-text navbar-brand source-sans-pro" href="{% url 'home' %}">skillgeek</a>
        <div class="d-flex">
            <form class="form-inline" action="{% url 'search' %}" method="get">
                <div class="d-flex">
                    <div class="d-inline-block">
                        <input class="form-control search-form" name="search_info" type="text" placeholder="Поиск"
                               aria-label="Search">
                    </div>
                    <div class="d-inline-block">
                        <button class="btn search-color" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="navbarReg">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active source-sans-pro" href="{% url 'confirm_logout' %}">Выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active source-sans-pro" aria-current="page" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link source-sans-pro" href="{% url 'login' %}">Вход</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarReg"
                    aria-controls="navbarReg" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<br>
<br>
<br>
{% block content %} {% endblock %}
<footer class="footer-color p-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <ul class="list-inline d-inline-block mb-0 text-nowrap">
                    <li class="list-inline-item"><a class="my-text navbar-brand source-sans-pro"
                                                    href="{% url 'home' %}">skillgeek</a></li>
                    <li class="list-inline-item"><a href="/it-courses" class="text-dark link-footer">IT-курсы</a></li>
                    <li class="list-inline-item"><a href="/marketing" class="text-dark link-footer">Маркетинг</a></li>
                    <li class="list-inline-item"><a href="/design" class="text-dark link-footer">Дизайн</a></li>
                    <li class="list-inline-item"><a href="/finance" class="text-dark link-footer">Финансы</a></li>
                    <li class="list-inline-item"><a href="/analytics" class="text-dark link-footer">Аналитика</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h5>skillgeek</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/about" class="text-dark link-footer">О компании</a></li>
                    <li><a href="/jobs" class="text-dark link-footer">Вакансии</a></li>
                    <li><a href="/requisites" class="text-dark link-footer">Реквизиты</a></li>
                </ul>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="text-nowrap">Зарабатывать с skillgeek</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/partnership" class="text-dark link-footer">Стать партнером</a></li>
                </ul>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="text-nowrap">Покупать как компания</h5>
                <ul class="list-unstyled mb-0">
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="text-center">
        © skillgeek, 2023. Все права защищены.
        <ul class="list-inline">
            <li class="list-inline-item"><a class="text-dark link-footer" href="https://vk.com"><img class="logo"
                                                                                                     src="https://thumb.cloud.mail.ru/weblink/thumb/xw1/TfKk/QGyS93cW7/PNG%20-%20digital/VK%20Logo.png"
                                                                                                     alt="VK"></a></li>
            <li class="list-inline-item"><a class="text-dark link-footer" href="https://ok.ru"><img class="logo-big"
                                                                                                    src="https://img.icons8.com/?size=512&id=19622&format=png"
                                                                                                    alt="Одноклассники"></a>
            </li>
            <li class="list-inline-item"><a class="text-dark link-footer" href="https://t.me"><img class="logo-big"
                                                                                                   src="https://img.icons8.com/?size=512&id=oWiuH0jFiU0R&format=png"
                                                                                                   alt="Telegram"></a>
            </li>
        </ul>
    </div>
</footer>
{% block scripts %} {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>
</html>




