{% extends 'page1/base.html' %}

{% block title %}
Мои курсы
{% endblock %}

{% block logo %}
<a class="w-100 navbar-brand mb-0 h1 russo-one" href="{% url 'home_tutor' %}">RepetBuddy</a>
{% endblock %}

{% block content %}
<a href="{% url 'course_create' %}" class="btn btn-primary mt-3">Создать курс</a>
<br>
<br>
{% for course in course_list %}
<div class="card mb-3">
    <div class="row">
        <div class="col-8">
            <a href="{% url 'course_read' course.uuid %}" class="card-link text-dark text-decoration-none">
                <h5 class="card-title">{{ course.name }}</h5>
            </a>
        </div>
        <div class="col-4 text-end">
            <a href="{% url 'course_update' course.uuid %}" class="btn btn-secondary">Изменить</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}