{% extends 'page1/base.html' %}

{% block title %}
Репетитор по математике и физике
{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">9 класс</h1>
                    <p class="card-text">ОГЭ Математика</p>
                    <p class="card-text">ОГЭ Физика</p>
                    <a href="{% url 'class9' %}" class="btn btn-outline-success">Перейти к курсам</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">10 класс</h1>
                    <p class="card-text">ЕГЭ Математика профиль</p>
                    <p class="card-text">ЕГЭ Математика база</p>
                    <a href="{% url 'class10' %}" class="btn btn-outline-success">Перейти к курсам</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">11 класс</h1>
                    <p class="card-text">ЕГЭ Математика профиль</p>
                    <p class="card-text">ЕГЭ Математика база</p>
                    <a href="{% url 'class11' %}" class="btn btn-outline-success">Перейти к курсам</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">Видео</h1>
                    <a href="{% url 'home_video' %}" class="btn btn-outline-success">Перейти к роликам</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
