{% extends 'page1/base.html' %}
{% load static %}
{% block title %}
repetbuddy.ru
{% endblock %}

{% block logo %}
<a class="w-100 navbar-brand mb-0 h1 russo-one" href="{% url 'home' %}">RepetBuddy</a>
{% endblock %}

{% block styles %}
<style>
.my-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    z-index: -1;
    background-image: linear-gradient(to bottom, #FFB6C1, #ADD8E6, #90EE90);
}
.form-control:focus {
    border-color: lightgreen;
    box-shadow: 0 0 12px lightgreen;
}
.border-success {
    border-color: lightgreen !important;
}
.border-success:hover {
     box-shadow: 0 0 12px lightgreen;
}

</style>

{% endblock %}

{% block content %}
<div class="my-gradient">
</div>
<form class="d-flex" action="{% url 'search' %}" method="get">
    <input class="form-control me-4 mx-4" name="search_query" style="width: 300px;" type="search"
           placeholder="Можете написать ФИО репетитора" aria-label="Search">
    <input class="form-control me-4 mx-4" name="subject" style="width: 300px;" type="search"
           placeholder="Все предметы" aria-label="Search">
    <button class="btn btn-outline-success me-4 mx-0" type="submit">Найти</button>
</form>

<div class="container my-4">
    {% if user_obj %}
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for user in user_obj %}
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="post-masonry card border-success mb-3" style="max-width: 18rem;">
                <a href="{% url 'tutor_info' user.user_id %}" class="card-link text-dark text-decoration-none">
                    <div class="card-body">
                        <h1 class="card-title">{{ user.last_name|capfirst }} {{ user.first_name|capfirst }} {{ user.patronymic|capfirst }}</h1>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container">
        <h3>Нет результатов</h3>
    </div>
    {% endif %}
</div>
<div style="height: 2000px;"></div>
<p>Текст внизу страницы</p>
{% endblock %}