{% extends 'page1/base.html' %}
{% load static %}
{% block title %}
repetbuddy.ru
{% endblock %}


{% block styles %}
<style>


.border-success {
    border-color: lightgreen !important;
}
.border-success:hover {
     box-shadow: 0 0 12px lightgreen;
}

</style>

{% endblock %}

{% block content %}
<div class="container my-4">
    {% if obj %}
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for course in obj %}
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="post-masonry card border-success mb-3" style="max-width: 18rem;">
                <a href="{% url 'course_read' course.uuid %}" class="card-link text-dark text-decoration-none">
                    <div class="card-body">
                        <h1 class="card-title">{{ course.name }} </h1>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}

    {% endif %}
</div>
{% endblock %}