{% extends 'page1/base.html' %}

{% block title %}
repetbuddy.ru
{% endblock %}

{% block logo %}
<a class="w-100 navbar-brand mb-0 h1 russo-one" href="{% url 'home_user' %}">RepetBuddy</a>
{% endblock %}


{% block styles %}
<style>
.form-control:focus {
    border-color: lightgreen;
    box-shadow: 0 0 12px lightgreen;
}
.border-success {
    border-color: lightgreen !important;
}
.border-success:hover {
     box-shadow: 0 0 12px lightgreen;
}

</style>

{% endblock %}

{% block content %}
<form class="d-flex" action="{% url 'search' %}" method="get">
    <input class="form-control me-4 mx-4" name="search_query" style="width: 300px;" type="search"
           placeholder="Можете написать ФИО репетитора" aria-label="Search">
    <input class="form-control me-4 mx-4" name="subject" style="width: 300px;" type="search"
           placeholder="Все предметы" aria-label="Search">
    <button class="btn btn-outline-success me-4 mx-0" type="submit">Найти</button>
</form>
<br>
<br>

<div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="post-masonry card border-success mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h2 class="card-title">Домашние задания</h2>
                    <a class="btn btn-outline-success">Посмотреть</a>
                    <br>
                    <br>
                    <a class="btn btn-outline-success">Загрузить и отправить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
