{% extends 'page1/base.html' %}

{% block title %}
repetbuddy.ru
{% endblock %}



{% block styles %}
<style>
.form-control:focus {
    border-color: lightgreen;
    box-shadow: 0 0 12px lightgreen;
}
.border-success {
    border-color: lightgreen !important;
}
.border-success:hover {
     box-shadow: 0 0 12px lightgreen;
}

</style>

{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="post-masonry card border-success mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h2 class="card-title">Домашние задания</h2>
                    <a class="btn btn-outline-success">Посмотреть</a>
                    <br>
                    <br>
                    <a class="btn btn-outline-success">Загрузить и отправить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
