{% extends 'page1/base.html' %}

{% block links %}
<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet">
{% endblock %}


{% block styles %}
<style>
    .video-js {
        width: 700px;
        height: calc(700px * 9 / 16);
    }
    .mt-2 {
        width: 600px;
    }
    .video-js .vjs-big-play-button {
        display: none;
    }




</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="auto"
                    data-setup="{}"
                    autoplay
            >
                <source src="{% url 'stream' video.uuid %}" type="video/mp4"/>
                <source src="{% url 'stream' video.uuid %}" type="video/webm"/>
            </video>
        </div>
    </div>
    <h5 class="mt-2">{{ video.title }}</h5>
    <p>{{ video.description }}</p>
    {% if request.user == video.user %}
    <form action="{% url 'confirm_delete_video' video.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить видео</button>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
{% endblock %}
